html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.correct {
  color: white;
  background-color: green;
  padding: 0.6em;
  border-radius: 8px;
}

.incorrect {
  color: white;
  background-color: red;
  padding: 1em;
  border-radius: 8px;
}

.selected {
  border: 2px solid #5be293 !important;
}
