html, body, .app {
	height: 100vh;
	background: #EEE;
	padding: 1em;
}


.correct {
	color: white;
	background-color: green;
	padding: 0.6em;
	border-radius: 8px;
}

.incorrect {
	color: white;
	background-color: red;
	padding: 1em;
	border-radius: 8px;
}